<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ReFresh: Your Connection to Fresh & Real Food in Your Area</title>
        <!--BootStrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!--Compressed CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
        <!--Compressed JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
        body,h1,h5 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        body {
        background-image: url('./assets/images/growveg.jpg');
        background-color: black;
        min-height: 100%;
        background-position: center;
        background-size: cover;}
        #map_canvas { width:450px; height:450px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>
                        <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                        
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                        <a href="/connect/local" class="btn btn-default">Connect Local</a>
                        <% } %>
                    </div>
                </div>
                <!-- FACEBOOK INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.facebook.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.facebook.id %><br>
                            <strong>token</strong>: <%= user.facebook.token %><br>
                            <strong>email</strong>: <%= user.facebook.email %><br>
                            <strong>name</strong>: <%= user.facebook.name %><br>
                        </p>
                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                        <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- TWITTER INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
                        <% if (user.twitter.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.twitter.id %><br>
                            <strong>token</strong>: <%= user.twitter.token %><br>
                            <strong>display name</strong>: <%= user.twitter.displayName %><br>
                            <strong>username</strong>: <%= user.twitter.username %>
                        </p>
                        <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                        <% } else { %>
                        <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                        <% } %>
                    </div>
                </div>
                <!-- GOOGLE INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>
                        <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.google.id %><br>
                            <strong>token</strong>: <%= user.google.token %><br>
                            <strong>email</strong>: <%= user.google.email %><br>
                            <strong>name</strong>: <%= user.google.name %>
                        </p>
                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                        <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                        <% } %>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-12">
                        <button type="button" onclick="initialize()">View Map for Accurate Locations!</button>
                        <input id="address" type="textbox" value="Orlando, Fl">
                        <input type="button" value="add" onclick="addAddress()">
                        <div id="map_canvas" class="col-md-12"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAUqGjYqAJxvwJk39JQYuugYHO-7Yk6QOk"></script>
                <script type="text/javascript">
                    var geocoder;
                    var map;
                        function initialize() {
                        // add mapOptions here to the values in the input boxes.
                        var mapOptions = {
                        center: new google.maps.LatLng(28.538336, -81.379234),
                        zoom: 10,
                        panControl: true, //enable pan Control
                        zoomControl: true, //enable zoom control
                        zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL //zoom control size
                        },
                        scaleControl: true, // enable scale control
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        map = new google.maps.Map(document.getElementById("map_canvas"),
                        mapOptions);
                        geocoder = new google.maps.Geocoder();
                        }
                    
                    function addAddress() {
                        var address = document.getElementById('address').value;
                        geocoder.geocode( { 'address': address}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                            });
                            } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        });

                            //##### drop a new marker on right click ######
                            google.maps.event.addListener(map, 'rightclick', function(event) {      
                                var marker = new google.maps.Marker({
                                    position: event.latLng, //map Coordinates where user right clicked
                                    map: map,
                                    draggable:true, //set marker draggable 
                                    animation: google.maps.Animation.DROP, //bounce animation
                                    title:"Hello World!",
                                    icon: "http://PATH-TO-YOUR-WEBSITE-ICON/icons/pin_green.png" //custom pin icon
                                });

                                //Content structure of info Window for the Markers
                                var contentString = $('<div class="marker-info-win">'+
                                '<div class="marker-inner-win"><span class="info-content">'+
                                '<h1 class="marker-heading">New Marker</h1>'+
                                'This is a new marker infoWindow'+ 
                                '</span>'+
                                '<br /><button name="remove-marker" class="remove-marker" title="Remove Marker">Remove Marker</button></div></div>');
                                    
                                //Create an infoWindow
                                var infowindow = new google.maps.InfoWindow();
                                
                                //set the content of infoWindow
                                infowindow.setContent(contentString[0]);
                                
                                //add click listner to marker which will open infoWindow         
                                google.maps.event.addListener(marker, 'click', function() {
                                        infowindow.open(map,marker); // click on marker opens info window 
                                });
                                

                                //###### remove marker #########/
                                var removeBtn   = contentString.find('button.remove-marker')[0];
                                google.maps.event.addDomListener(removeBtn, "click", function(event) {
                                    marker.setMap(null);
        });
    });
}
});


                            });
                        }
            </script>
            
        </body>
    </html>